<section class="border-2 divide-y divide-gray-200">
  <article class="p-4">
    <h1 class="font-bold uppercase">{{ name }}</h1>

    <dl>
      <td>Nombre:</td>
      <dd>{{ name }}</dd>

      <td>Edad:</td>
      <dd>{{ age }}</dd>

      <td>Método:</td>
      <dd>{{ getHeroDescription() }}</dd>

      <td>Nombre Capitalizado:</td>
      <dd>{{ capitalizedName }}</dd>
    </dl>
  </article>

  <div class="flex gap-2 p-4">
    <button
      *ngIf="name !== 'Spiderman'"
      (click)="changeHero()"
      class="px-4 py-2 text-green-600 transition-colors duration-500 border border-green-600 rounded-md hover:bg-green-600 hover:text-white"
    >
      Cambiar nombre
    </button>
    <button
      *ngIf="age !== 25"
      (click)="changeAge()"
      class="px-4 py-2 transition-colors duration-500 border rounded-md border-sky-600 text-sky-600 hover:bg-sky-600 hover:text-white"
    >
      Cambiar edad
    </button>
    <button
      (click)="reset()"
      class="px-4 py-2 text-green-600 transition-colors duration-500 border border-green-600 rounded-md hover:bg-green-600 hover:text-white"
    >
      Reset
    </button>
  </div>
</section>
